p {
    color: #007dad;
}

a {
    color: blue;
}
body{
	font-size: 15px;
	color: turquoise;
}
h1 {
    color: white;
    background-color: #007dad;
}
body{
	font-family:verdana, helvetica
	sans-serif;
    font-size: 15px;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

a {
    text-decoration: none;
}

strong {
    font-style: italic;
    text-transform: uppercase;
}
p {
	letter-spacing: 0.0em;
	word-spacing: 0,5em;
	line-height: 1.5;
	text-align: center;
}
	
	